<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>{{ identifier }}</title>
  </head>
  <body>
  {% for description in descriptions %}
    <section class="description">
      <div>
        <span>Subject:</span> <span class="subject">{{ description.subject }}</span>
      </div>
      {% for alias in description.aliases %}
      <div>
        <span>Alias:</span> <span class="alias">{{ alias }}</span>
      </div>
      {% endfor %}
      {% for link in description.links %}
      <div>
        {% if link.href %}
	  {% if link.title %}
            <a href="{{ link.href }}"><span class="rel">{{ link.rel }}</span> (<span class="title">{{ link.title }}</span>)</a>
	  {% else %}
            <a href="{{ link.href }}"><span class="rel">{{ link.rel }}</span></a>
          {% endif %}
        {% endif %}
      </div>
      {% endfor %}
    </section>
  {% endfor %}
  </body>
</html>
